{% extends "base.html" %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    <h2>Список курсов:</h2>
    <ul class="list-group">
        {% if objects_list %}
            {% for item in objects_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.name }}
                </li>
            {% endfor %}
        {% else %}
            <p>Нет доступных курсов. <a class="link text-decoration-none" href="/create-course/">Создать...</a></p>
        {% endif %}
    </ul>
{% endblock %}